# See https://atom.io/docs/latest/creating-a-package#menus for more details
"context-menu":
  "atom-text-editor": [
    {
      "label": "Check References"
      "command": "asciidoc-reference-check:checkReferenceFromEditor"
    }
  ],
  ".tree-view .file .name[data-name$=\\.adoc]": [
    {
      "label": "Check References"
      "command": "asciidoc-reference-check:checkReferenceFromTreeViewFile"
    }
  ],
  ".tree-view .directory .header .name": [
    {
      "label": "Check References"
      "command": "asciidoc-reference-check:checkReferenceFromTreeViewFolder"
    }
  ]
