# See https://atom.io/docs/latest/creating-a-package#menus for more details
"context-menu":
  "atom-text-editor": [
    {
      "label": "Check References"
      "command": "asciidoc-reference-check:checkReferenceFromEditor"
    }
  ]
